.chartContainer {
	height:500px;
}

.gram {
	height: 500px;
	overflow: scroll;
}

.gram td ul {
	list-style-type: none;
	margin: 0px
}

.gram td li {
	display: block; 
	clear: both;
}

.gram .unigram {
	width: 230px;
}

.gram .bigram {
	width: 350px;
}

.gram li div{
	float: left;
	padding: 5px;
}

.modal div{
	float: none !important;
}

.unigram_title {
	white-space: nowrap;
	width: 80px;
	text-overflow: ellipsis;
	overflow: hidden;  
}

.unigram_value {
	white-space: nowrap;
	width: 55px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bigram_title {
	white-space: nowrap;
	width: 170px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bigram_value {
	white-space: nowrap;
	width: 45px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.wordCloud{
	display:block;
	width:840px;
	height:300px;
}

.highlight{
	color:red;
}

#wordCloud{
	height:300px;
}
