body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.errorlist{
    list-style-type: none;
    padding:0; 
    margin:0;
}

.thumbnail{
	padding: 10px;
}

.errorlist li{
    padding:5px;
    margin:5px 0px 5px 0px;
}


label[for=id_remember_me]{
	display:inline;
}

#id_remember_me{
	margin:0 0 0.1em 0.4em;
}
