{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}EventCube{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.min.css" %}" rel="stylesheet">
        {% block css %}
        {% endblock %}
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 ele	ents -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
        <!--script src="http://jasny.github.com/bootstrap/assets/js/jquery.js"></script-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/ajax_setup.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {% block javascript %}
        {% endblock %}
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/home">EventCube</a>
                    <div class="nav-collapse collapse">
                        <!-- Start of the nav bar content -->
                        <div class="nav-collapse">
                        	<ul class="nav pull-left">
                        		<li><a class="brand" href="#howtousemodal" data-toggle="modal">How to use EventCube?</a></li>
                        	</ul>


                            <ul class="nav pull-right">
                            	{% if 'user_info' not in request.session %}
                                <li>
                                    <a href="/user/register">Register</a>
                                </li>
                                {% endif %}
                                <li class="divider-vertical"></li>
                                <li id="login_dropdown" class="dropdown {{login_error}}">
	                                {% if 'user_info' in request.session %}
                        			<a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        				{{request.session.user_info.0}}<strong class="caret"></strong>
                    				</a>
					                <ul class="dropdown-menu">
					                  <li><a href="#">Profile</a></li>
					                  <li><a href="#">Settings</a></li>
					                  <li><a href="/dataset/upload">Upload Dataset</a></li>
                                      <!-- <li><a href="http://127.0.0.1:8000">Upload Dataset</a></li> -->
					                  <li class="divider"></li>
					                  <li><a href="/user/logout">Log out</a></li>
					                </ul>
									{% else %}
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log in<strong class="caret"></strong></a>
                                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                                        <form action="/user/login" method="POST" accept-charset="UTF-8">
                                            {% csrf_token %}
                                            {{ login_form }}
                                            <input type="submit" value="Log in" class="btn btn-primary" style="display:block">
                                        </form>
                                    </div>
                                    {% endif %}
                            	</li>
                            </ul>
                        </div>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div id="howtousemodal" class="modal fade hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_0" aria-hidden="true">
			                  <div class="modal-header" style="max-width: 600px;">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
			                    <h3>How to use EventCube</h3>
			                  </div>
			                  <div class="modal-body" id="modal_body" style="max-height: 500px; max-width: 600px;">
			                  <h4>How to use EventCube?</h4>

<p>Please login using our default account: tfb890703/tfb890703. In the dataset page, we currently provide three datasets.</p>

<ul>
<li>* NEWS2010: Complete 2010 domestic news data from New York Time, Associated Press, Bloomberg.</li>
<li>* SHORTNEWS: Shorter and less version of 2010 domestic news. Since "Analyze" function may takes some time, you can use this dataset to explore the idea of Topic Cube and n-gram analysis.</li>
<li>* ASRSFINAL: Aviation Safety Reporting System Dataset, from 2001-2009.</li>
</ul>

<p> search function should be very efficient, analysis part will be relatively slow if you select a large cube, i.e., about 40 seconds. For NEWS data, we suggest you to explore search function in "NEWS2010" and explore analysis function in "SHORTNEWS".</p>

<p>If you wanna to upload more datasets, you can click the username, and select "Upload dataset". Later we will have a detailed instruction for you.</p>

<p>Notice: PLEASE DO NOT CLICK "delete" (the dustbin button), it is a shared account. :)</p>

<h4>How to use Search Function? Use NEWS2010 as an example:</h4>

<ul>
<li>Step 1: Click "Search" button of NEWS2010.</li>
<li>Step 2: Type a topic/term, select a recommended term/topic in the search bar. E.g., "health care bill". Click "Add".</li>
<li>Step 3: In Target Dimensions, mark all the options.</li>
<li>Step 4: Click "Query", enjoy the multi-dimensional search result!</li>
</ul>

<p>We build term-network based on the corpus. Please choose the terms we recommended because of the indexing issue.</p>

<p>Other options for you:</p>
<ul>
<li>* You can modify the query in the result page by clicking "Query Panel".</li>
<li>* You can click the "blue terms" under the search bar to add similar terms/topics in the query. </li>
<li>* Many other query options, you can explore by your self.
	<ol>
	<li>Example: type "earthquake" -> click "haiti earthquake" -> click "help haiti", mark all the target dimensions.</li>
	<li>Example: In ASRSFINAL dataset, add "delay", mark "Year", "State", "Weather", "Light" as target dimensions. </li>
	</ol>
	</li>
</ul>
<p>The ASRS dataset is based on another term-network. However, the operations are similar.</p>


<h4>How to use Analysis Function? Use SHORTNEWS as an example:</h4>

<ul>
<li>Step 1: Click "Analyze" button of SHORTNEWS.</li>
<li>Step 2: Click "Query".</li>
<li>Step 3: You can find the overall topic distribution for this dataset, along with the Keyword cloud, unigrams and multigrams. Each unigram/multigram is clickable. You can see the original documents for this gram.</li>
<li>Step 4: Click the "Compare" button in the top, Choose another cell and click "Compare". For example, click State, choose "NY", click "Compare". </li>
</ul>

<p>Also many other options are allowed here, you can explore by yourself. Sometimes the analysis is a bit slow for NEWS2010 and ASRSFINAL, but should be less than 2mins. Please be patient.</p>


			                  </div>
			                </div>
		{% block content_outer %}
	        <div class="container-fluid row-fluid">
	        <div class="span10 offset1">
	        	{% for message in messages %}
				<div class="alert alert-{{message.tags}}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
				{% endfor %}
		    	{% block content %}
		        {% endblock %}

		        <footer>
		            {% block footer %}
		            {% endblock %}
		        </footer>
	        </div>
	        </div><!--/.fluid-container-->
        {% endblock %}
    </body>
</html>
